- load compressed i18n staticfiles
!!! 5
html(lang="en", data-ng-app)
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title{% block meta_title %}{% endblock %} | {{ config.SITE_NAME }}
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="{% block meta_description %}{% endblock %}")
        meta(name="robots", content="{% block meta_robots %}{% endblock %}")
        meta(name="author", content="{% block meta_author %}{% endblock %}")
        meta(name="google-site-verification" content="{% block google_site %}{% endblock %}")
        block css
            link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
            link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
            link(rel="shortcut icon", href="{% static 'images/favicon.ico' %}")
            - compressed_css 'style'
        body
            .navbar.navbar-default.navbar-static-top(role="navigation")
                .container-fluid
                    .navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                            span.sr-only Toggle Navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#")
                            img.logo(src="http://www.xeontek.com/wp-content/uploads/2013/09/xeontek-logo-small.png", alt="XeonTek")

                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.pull-right
                            li.active
                                a(href="{% url 'home' %}") Home
                            li
                                a(href="{% url 'admin:index' %}") Admin
                            li
                                a(href="{% url 'contact' %}") Contact
                            li
                                a(href="{% url 'faq' %}") FAQ

            .container
                block content

            .container
                .row-fluid
                    p &copy;
                        a(href="{{ config.SITE_URL }}") {{ config.SITE_NAME }}
                        &nbsp; {% now "Y" %} . &nbsp; {{ config.INTELLECTUAL_PROPERTY_INFO }}
        block js
            script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
            script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
            script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
            - compressed_js 'site'

