- extends "base.jade"
    block meta_title
        | FAQ
    block content
        .jumbotron
            h1 FAQ
        div(class="row")
            div(class="col-md-8")
                include faq/question
            div(class="col-md-4")
                include faq/question_type