- extends "base.jade"
- load disqus_tags
    block meta_title
        | {{ post.title }}
    block content
        .container
            h1.page-header Post
            article.col-md-8
                h2 {{ post.title }}
                h5
                    | {% for category in post.category.all %}
                    span
                        a(href='#') {{ category.title }}
                        | &nbsp
                    | {% endfor %}
                p {{ post.description }}
                | {% for tag in post.tags.all %}
                span
                    a.label.label-default(href='#') {{ tag.name }}
                    | &nbsp
                | {% endfor %}
                p {% disqus_show_comments %}