- extends "base_blog.jade"

block meta_title
    | {{ block.super }}
    | Posts
block blog
    | {% for post in post_list %}
    h3
        a(href='{{ post.get_absolute_url }}') {{ post.title }}
    p {{ post.description|truncatewords:50 }}
    hr
    | {% endfor %}